.hero {
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	@include respond(tab){
		flex-flow: column;
		padding: 2rem 0;
	}
	& > * {
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
        @include respond(tab){
            width: 100%;
        }
	}
	&-left {
        @include respond(tab){
            height: 30%;
        }
		&-head {
			width: 70%;
			font-size: 2.5rem;
			line-height: 3rem;
			font-weight: 700;
			padding: 0.5rem 0;
			margin: 0.5rem 0;
		}
		&-body {
			width: 70%;
			padding: 1rem 0;
			margin: 0.25rem 0;
			font-size: 1.25rem;
			line-height: 1.5rem;
		}
	}
	&-right {
        @include respond(tab){
            height: 70%;
        }
		&-head {
			width: 75%;
			font-size: 1.75rem;
			line-height: 2rem;
			font-weight: 550;
			margin: 0.5rem 0;
		}
		&-body {
			width: 75%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&-form {
			width: 100%;
			display: flex;
			flex-flow: column;
			&-group {
				width: 100%;
				display: flex;
				margin: 0.25rem 0;
				& > * {
					width: 100%;
				}
				&:first-child > * {
					width: 50%;
				}
			}
		}
	}
}
